@import "normalize.css";
@import "base.css";
@import "theme.css";

body {
    background: var(--background-color);
}

#main {
    margin: .5rem;
    padding: 1rem;
    min-height: 70vh;
}

#footer {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 10vh;
}

.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr; /* only column intially */

    padding: 1rem 2rem;
}

.navbar-items-block {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.nav-link {
    display: inline-block;
    width: 100px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
}

.navbar-left {
    justify-content: flex-start;
}

.navbar-center {

}

.navbar-right {
    justify-content: flex-end;
}

.icon-primary {
    color: var(--primary-icon);
}

.icon {
    color: var(--secondary-icon);
}

.round-padding {
    background: var(--background-color);
    padding: 15px;
    border-radius: 50%;
}

.icon-active {
    color: var(--primary-button-background);
}

.brand {
    width: 20%;
}

.search-bar {
    overflow: hidden;
}

.hidden {
    display: none;
}